<h1>System information:</h1>

<p>
  <b>Device:</b><br>
  device_name: <%= @browser.device.name %>
</p>

<p>
  <b>Platform:</b>
  <%= @browser.platform.id %><br>
  <%= @browser.platform.name %>
  <%= @browser.platform.version %>
</p>

<p>
  <b>Browser info:</b><br>
  name: <%= @browser.name %><br>
  version: <%= @browser.version %><br>
</p>

<p>
  <b>Search engine info:</b><br>
  search_engine: <%= @browser.bot.search_engine? %><br>
</p>
